<div id="content">
  <p class="heading1">Kakaocert SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>전자서명</legend>
    <ul>
      <li><a href="KakaocertExample/requestESign">requestESign</a> - 전자서명 요청</li>
      <li><a href="KakaocertExample/getESignResult">getESignResult</a> - 전자서명 결과확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>본인인증</legend>
    <ul>
      <li><a href="KakaocertExample/requestVerifyAuth">requestVerifyAuth</a> - 본인인증 요청</li>
      <li><a href="KakaocertExample/getVerifyAuthResult">getVerifyAuthResult</a> - 본인인증 결과확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>자동이체 출금동의</legend>
    <ul>
      <li><a href="KakaocertExample/requestCMS">requestCMS</a> - 출금동의 요청</li>
      <li><a href="KakaocertExample/getCMSResult">getCMSResult</a> - 출금동의 전자서명 결과확인</li>
    </ul>
  </fieldset>
</div>
