<div id="content">
  <p class="heading1">Kakaocert SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>전자서명</legend>
    <ul>
      <li><a href="KakaocertExample/requestESign">requestESign</a> - 전자서명 요청</li>
      <li><a href="KakaocertExample/getESignState">getESignState</a> - 전자서명 서명상태 확인</li>
      <li><a href="KakaocertExample/verifyESign">verifyESign</a> - 전자서명 서명검증</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>본인인증</legend>
    <ul>
      <li><a href="KakaocertExample/requestVerifyAuth">requestVerifyAuth</a> - 본인인증 요청</li>
      <li><a href="KakaocertExample/getVerifyAuthState">getVerifyAuthState</a> - 본인인증 서명상태 확인</li>
      <li><a href="KakaocertExample/verifyAuth">verifyAuth</a> - 본인인증 서명검증</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>자동이체 출금동의</legend>
    <ul>
      <li><a href="KakaocertExample/requestCMS">requestCMS</a> - 자동이체 출금동의 요청</li>
      <li><a href="KakaocertExample/getCMSState">getCMSState</a> - 자동이체 출금동의 전자서명 서명상태 확인</li>
      <li><a href="KakaocertExample/verifyCMS">verifyCMS</a> - 자동이체 출금동의 전자서명 서명검증</li>
    </ul>
  </fieldset>
</div>
